<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
		<% #pluralize takes an integer argument and then returns the number 
		# with a properly pluralized version of its second argument.
		# Underlying this method is a powerful inflector that knows how 
		# to pluralize a large number of words, including many with irregular plurals:
		%>
		
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>