<li>
      	<%= gravatar_for user %>
      	<%= link_to user.name, user %>
		<!--
			Web browsers can’t send DELETE requests natively, so Rails fakes them with JavaScript.
			 This means that the delete links won’t work if the user has JavaScript disabled.
			 If you must support non-JavaScript-enabled browsers you can fake a DELETE request using a form and a POST request,
			 which works even without JavaScript; see the RailsCast on “Destroy Without JavaScript” 				http://railscasts.com/episodes/77-destroy-without-javascript for details.
		-->
		<% if current_user.admin? && !current_user?(user) %>
		    | <%= link_to "delete", user, method: :delete,
		                                  data: { confirm: "You sure?" } %>
		<% end %>
</li>